<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messageboard</title>
</head>

<body>
    <h4> We are here with routes, controllers and views!</h4>
    <% for(var i=0; i<messages.length; i++) {%>
        <tr>
            <div>
                <h3> User </h3>
                <%= i + 1%>
                <h2> Messages </h2>
                <%= messages[i].text%>
                <h2> User Name </h2>
                <%= messages[i].user%>
                <h2> Date </h2>
                <%= messages[i].date%>
            </div>
        </tr>
    <% } %>

    <a href="/new">
        <input type="button" value="Send me something" />
     </a>
</body>